<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Cadastro Funcionário</mat-toolbar>

        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field class="full-width">
                    <mat-label>Nome do Funcionário</mat-label>
                    <input matInput formControlName="nomeFun" />
                    <mat-error *ngIf="form.get('nomeFun')?.invalid">
                        {{ getErrorMessage("nomeFun") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>CPF do Funcionário</mat-label>
                    <input matInput formControlName="cpf" />
                    <mat-error *ngIf="form.get('cpf')?.invalid">
                        {{ getErrorMessage("cpf") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>RG do Funcionário</mat-label>
                    <input matInput formControlName="rg" />
                    <mat-error *ngIf="form.get('rg')?.invalid">
                        {{ getErrorMessage("rg") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Telefone do Funcionário</mat-label>
                    <input matInput formControlName="telefone">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Sexo do Funcionário</mat-label>
                    <mat-select formControlName="sexoFun">
                        <mat-option value="null"></mat-option>
                        <mat-option value="masculino">Masculino</mat-option>
                        <mat-option value="feminino">Feminino</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Data Nascimento do Funcionário</mat-label>
                    <input matInput formControlName="dataNasciFun" />
                    <mat-error *ngIf="form.get('dataNasciFun')?.invalid">
                        {{ getErrorMessage("dataNasciFun") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Titulo de Eleitor do Funcionário</mat-label>
                    <input matInput formControlName="tituloEleitor">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Estado Cívil do Funcionário</mat-label>
                    <mat-select formControlName="estadoCivil">
                        <mat-option></mat-option>
                        <mat-option value="solteiro">Solteiro</mat-option>
                        <mat-option value="casado">Casado</mat-option>
                        <mat-option value="viuvo">Viúvo</mat-option>
                        <mat-option value="separado">Separado</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Grau de Instrução do Funcionário</mat-label>
                    <mat-select formControlName="grauInstrucao">
                        <mat-option></mat-option>
                        <mat-option value="1 grau gncompleto">1° Grau Incompleto</mat-option>
                        <mat-option value="1 grau completo">1° Grau Completo</mat-option>
                        <mat-option value="2 grau incompleto">2° Grau Incompleto</mat-option>
                        <mat-option value="2 grau completo">2° Grau Completo</mat-option>
                        <mat-option value="superior">Superior</mat-option>
                        <mat-option value="analfabeto">Analfabeto</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Rua do Funcionário</mat-label>
                    <input matInput formControlName="rua">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Bairro do Funcionário</mat-label>
                    <input matInput formControlName="bairro">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>CEP do Funcionário</mat-label>
                    <input matInput formControlName="cep">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Número da Residência do Funcionário</mat-label>
                    <input matInput formControlName="numero">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Cidade do Funcionário</mat-label>
                    <input matInput formControlName="city">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Função do Funcionário</mat-label>
                    <input matInput formControlName="funcao" />
                    <mat-error *ngIf="form.get('funcao')?.invalid">
                        {{ getErrorMessage("funcao") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Salário do Funcionário</mat-label>
                    <input matInput type="number" formControlName="salario" />
                    <mat-error *ngIf="form.get('salario')?.invalid">
                        {{ getErrorMessage("salario") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Data de Admissão do Funcionário</mat-label>
                    <input matInput formControlName="dataAdmissao" />
                    <mat-error *ngIf="form.get('dataAdmissao')?.invalid">
                        {{ getErrorMessage("dataAdmissao") }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Horario de Trabalho do Funcionário</mat-label>
                    <input matInput formControlName="horarioTrabalho">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Intervalo do Funcionário</mat-label>
                    <input matInput formControlName="intervaloTrabalho">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Contrato de Experiência do Funcionário (em número de dias)</mat-label>
                    <input matInput type="number" formControlName="contratoExpe">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Vale Transporte do Funcionário</mat-label>
                    <input matInput type="number" formControlName="valeTrans">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Vale Alimentação do Funcionário</mat-label>
                    <input matInput type="number" formControlName="valeAlimen">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Número da Carteira de Trabalho do Funcionário</mat-label>
                    <input matInput formControlName="numCarteiraTrab">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Série da Carteira de Trabalho do Funcionário</mat-label>
                    <input matInput formControlName="serieCarteiraTrab">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Estado da Carteira de Trabalho do Funcionário</mat-label>
                    <input matInput formControlName="estadoCarteiraTrab">
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
            <button mat-raised-button (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>