mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

.column-flex {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.demo-button-container {
    padding-bottom: 16px;
    display: flex;
    align-items: left;
}

.demo-button {
margin-left: 8px;
}

.button-back {
    margin-top: 0.5cm;
    margin-left: 4cm;
}

.button-back button{
    background-color: #5BC168;
    color: #ffffff;
}
