<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Cadastro Abastecimento</mat-toolbar>

        <mat-card-content>
            <form [formGroup]="form">

                <mat-form-field class="full-width">
                    <mat-label>Tipo Combustível</mat-label>
                    <mat-select formControlName="combustivel">
                      <mat-option *ngFor="let combustivel of combustiveis" [value]="combustivel">
                        {{combustivel.nome}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="combustivel.touched && combustivel.hasError('required')">Combustível é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Quantidade de Litros</mat-label>
                    <input currencyMask step="any" matInput formControlName="quantLitros" />
                    <mat-error *ngIf="quantLitros.touched && quantLitros.hasError('required')">Quantidade de litros é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Valor do Litro</mat-label>
                    <input currencyMask step="any" matInput formControlName="valorLitro" />
                    <mat-error *ngIf="valorLitro.touched && valorLitro.hasError('required')">Valor do litro é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Desconto</mat-label>
                    <input currencyMask step="any" matInput formControlName="desconto" />
                    <mat-error *ngIf="desconto.touched && desconto.hasError('required')">Desconto é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Data</mat-label>
                    <input type="datetime-local" matInput formControlName="data" />
                    <mat-error *ngIf="data.touched && data.hasError('required')">Data é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Veiculo</mat-label>
                    <mat-select formControlName="veiculo">
                      <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo">
                        {{veiculo.placa}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="veiculo.touched && veiculo.hasError('required')">Veiculo é obrigatório</mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width" formGroupName="km">
                    <mat-label>Quantidade km</mat-label>
                    <input currencyMask matInput formControlName="quantKm" />
                    <mat-error *ngIf="quantKm.touched && quantKm.hasError('required')">Quantidade de Km é obrigatório</mat-error>
                </mat-form-field>
                
            </form>
        </mat-card-content>

        
        <input type="file" class="file-section" [disabled]="IsDisabled" (change)="onFileSelected($event)">
        <div *ngIf="file">
            <span class="file-section">Arquivo Selecionado:</span>
            <ul>
                <li>
                    {{file.name}}
                    <button mat-icon-button style="color: #5BC168;" (click)="onDeleteFile()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()" [hidden]="IsFormDisabled">Salvar</button>
            <button mat-raised-button color="primary" (click)="onSaveFile()" [hidden]="IsDisabled">Adicionar Arquivo</button>
            <button mat-raised-button (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>