<div class="button-back">
    <button mat-fab (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>

<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Peças Cadastradas</mat-toolbar>
        <div class="search-container" *ngIf="isAdmin || isGerente">
                <mat-icon fontIcon="search"></mat-icon>
                <input type="text" [formControl]="queryField" placeholder="Digite o nome de uma peça...">
                <div class="button">
                    <button (click)="onSearch()">Pesquisar</button>
                    <button (click)="onReset()">Limpar</button>
                </div>
        </div>

        <div class="column-flex mat-elevation-z8">
            <app-peca-list *ngIf="pecas; else loading"
            [pecas]="pecas"
            [isAdmin]="isAdmin"
            [isGerente]="isGerente"
            (add)="onAdd()"
            (edit)="onEdit($event)"
            (remove)="onRemove($event)"
            (redirect)="onRedirect($event)"
            ></app-peca-list>

            <ng-template #loading>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>

            <mat-paginator 
                [length]="pecas.meta.itemCount" 
                [pageSize]="pecas.meta.take" 
                [pageSizeOptions]="[5,10,25,100]"
                (page)="pageEvent = $event; onPagination($event)"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>