<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Abastecimentos Cadastrados</mat-toolbar>
        <div class="search-container" *ngIf="isAdmin || isGerente">
            <mat-icon fontIcon="search"></mat-icon>
            <input type="date" [formControl]="queryField" placeholder="Coloque a data do abastecimento...">
            <input type="text" [formControl]="queryField2" placeholder="Coloque um texto...">
            <div class="button">
                <button (click)="onSearch()">Pesquisar</button>
                <button (click)="onReset()">Limpar</button>
            </div>
        </div>

        <div class="column-flex mat-elevation-z8">
            <app-abastecimento-list *ngIf="abastecimentos; else loading"
            [abastecimentos]="abastecimentos"
            [isAdmin]="isAdmin"
            [isGerente]="isGerente"
            (add)="onAdd()"
            (edit)="onEdit($event)"
            (remove)="onRemove($event)"
            (redirect)="onRedirect($event)"
            ></app-abastecimento-list>

            <ng-template #loading>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>

            <mat-paginator 
                [length]="abastecimentos.meta.itemCount" 
                [pageSize]="abastecimentos.meta.take" 
                [pageSizeOptions]="[5,10,25,100]"
                (page)="pageEvent = $event; onPagination($event)"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>