<div class="button-back">
    <button mat-fab (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>

<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Cadastro Manutenção</mat-toolbar>

        <mat-card-content>
            <form [formGroup]="form">

                <mat-form-field class="full-width">
                    <mat-label>Descrição Manutenção</mat-label>
                    <input matInput type="text" formControlName="descricao">
                    <mat-error *ngIf="descricao.touched && descricao.hasError('required')">Descrição é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Data Manutenção</mat-label>
                    <input matInput type="date" formControlName="data">
                    <mat-error *ngIf="data.touched && data.hasError('required')">Data é obrigatório</mat-error>
                </mat-form-field>
                
                <mat-form-field class="full-width" formGroupName="km">
                    <mat-label>Quilometragem Manutenção</mat-label>
                    <input type="number" matInput formControlName="quantKm">
                    <mat-error *ngIf="quantKm.touched && quantKm.hasError('required')">Quilometragem é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Tipagem Manutenção</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option [value]="'preventiva'">Preventiva</mat-option>
                        <mat-option [value]="'corretiva'">Corretiva</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tipo.touched && tipo.hasError('required')">Tipagem é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Veiculo</mat-label>
                    <mat-select formControlName="veiculo">
                      <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo">
                        {{veiculo.placa}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="veiculo.touched && veiculo.hasError('required')">Veiculo é obrigatório</mat-error>
                </mat-form-field>

                <ng-container formArrayName="itensPeca">
                    <ng-container *ngFor="let formPeca of itensPeca.controls; let i = index">
                        <div [formGroupName]="i">

                            <mat-form-field class="full-width">
                                <mat-label>Descrição Peça</mat-label>
                                <input matInput type="text" formControlName="descricao">
                                <mat-error *ngIf="formPeca.get('descricao')?.invalid">
                                    {{ getErrorMessage("descricao") }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Prazo em Km Peça</mat-label>
                                <input matInput type="number" formControlName="prazoKm">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Prazo em Meses Peça</mat-label>
                                <input matInput type="number" formControlName="prazoMeses">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Valor Peça</mat-label>
                                <input matInput type="number" formControlName="valor">
                                <mat-error *ngIf="formPeca.get('valor')?.invalid">
                                    {{ getErrorMessage("valor") }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Fornecedor Peça</mat-label>
                                <mat-select formControlName="fornecedor">
                                  <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor">
                                    {{fornecedor.nome}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formPeca.get('fornecedor')?.invalid">
                                    {{ getErrorMessage("fornecedor") }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Peça</mat-label>
                                <mat-select formControlName="peca">
                                  <mat-option *ngFor="let peca of pecas" [value]="peca">
                                    {{peca.codPeca}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formPeca.get('peca')?.invalid">
                                    {{ getErrorMessage("peca") }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-container formArrayName="itensServico" *ngIf="itensServico != null">
                    <ng-container *ngFor="let formServico of itensServico.controls; let i = index">
                        <div [formGroupName]="i">

                            <mat-form-field class="full-width">
                                <mat-label>Descrição Serviço</mat-label>
                                <input matInput type="text" formControlName="descricao">
                                <mat-error *ngIf="formServico.get('descricao')?.invalid">
                                    {{ getErrorMessage("descricao") }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Prazo em Km Serviço</mat-label>
                                <input matInput type="number" formControlName="prazoKm">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Prazo em Meses Serviço</mat-label>
                                <input matInput type="number" formControlName="prazoMeses">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Valor Serviço</mat-label>
                                <input matInput type="number" formControlName="valor">
                                <mat-error *ngIf="formServico.get('valor')?.invalid">
                                    {{ getErrorMessage("valor") }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Fornecedor Serviço</mat-label>
                                <mat-select formControlName="fornecedor">
                                  <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor">
                                    {{fornecedor.nome}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formServico.get('fornecedor')?.invalid">
                                    {{ getErrorMessage("fornecedor") }}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Serviço</mat-label>
                                <mat-select formControlName="servico">
                                  <mat-option *ngFor="let servico of servicos" [value]="servico">
                                    {{servico.cod}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="formServico.get('servico')?.invalid">
                                    {{ getErrorMessage("servico") }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>

                <button mat-raised-button (click)="addPeca()">Adicionar Peça</button>
                <button mat-raised-button (click)="addServico()">Adicionar Serviço</button>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
            <button mat-raised-button (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>