<mat-table [dataSource]="abastecimentos.data">

    <!-- Data Column -->
    <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef> Data do Abastecimento </mat-header-cell>
        <mat-cell *matCellDef="let abastecimento"> {{abastecimento.data | date : 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Veiculo Column -->
    <ng-container matColumnDef="veiculo">
        <mat-header-cell *matHeaderCellDef> Veiculo </mat-header-cell>
        <mat-cell *matCellDef="let abastecimento"> {{abastecimento.veiculo.placa}} </mat-cell>
    </ng-container>
    
    <!-- Valor de Combustivel Column -->
    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let abastecimento"> {{(abastecimento.quantLitros * abastecimento.valorLitro) - abastecimento.desconto}} </mat-cell>
    </ng-container>

    <!-- Tipo de Combustivel Column -->
    <ng-container matColumnDef="combustivel">
        <mat-header-cell *matHeaderCellDef> Combustivel </mat-header-cell>
        <mat-cell *matCellDef="let abastecimento"> {{abastecimento.combustivel.nome}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
            <button mat-mini-fab color="primary" aria-label="Adicionar abastecimento" (click)="onAdd()">
                <mat-icon fontIcon="add"></mat-icon>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let abastecimento" class="action-column">
            <button mat-icon-button style="color: #5BC168;" aria-label="Editar abastecimento" (click)="onEdit(abastecimento)">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>

            <button mat-icon-button style="color: #5BC168;" aria-label="Remover abastecimento" (click)="onDelete(abastecimento)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>

            <button mat-icon-button style="color: #5BC168;" aria-label="Detalhar abastecimento" (click)="onRedirect(abastecimento)">
                <mat-icon>person</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>