mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.min-width {
    width: 100%;
    min-width: 150px;
}

.example-section {
    margin: 12px 0;
    text-align: left;
}
  
.example-margin {
    margin: 0 12px;
    text-align: left;
}

.file-section {
    margin-top: 0.5rem;
    display: flex;
    align-items: left;
}

.file-list {
    display: flex;
    align-items: left;
}

li {
    text-align: left;
}

.button-back {
    margin-top: 0.5cm;
    margin-left: 4cm;
}

.button-back button{
    background-color: #5BC168;
    color: #ffffff;
}
