mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

.full-width {
    width: 100%;
}

.min-width {
    width: 100%;
    min-width: 150px;
}

.example-section {
    margin: 12px 0;
    text-align: left;
}
  
.example-margin {
    margin: 0 12px;
    text-align: left;
}
  