<mat-card>
    <mat-card-content  class="primary">

        <div>
            <div *ngIf="quilometro; else loading">
                <h1> {{ quilometro.data | date : 'dd/MM/yyyy' }} </h1>
                <p> <b>Quantidade de Quilometro:</b> {{ quilometro.quantKm }} </p>
                <p> <b>Veiculo:</b> {{ quilometro.veiculo.placa }} </p>
            </div>

            <ng-template #loading>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>

        <div *ngFor="let file of files">
            <tr>
                <td>{{ file.fileName }}</td>
                <td>
                    <button mat-icon-button style="color: whitesmoke" (click)="onDelete(file)">
                        <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                </td>
                <td>
                    <button mat-icon-button style="color: whitesmoke" (click)="onDownload(file)">
                        <mat-icon fontIcon="download"></mat-icon>
                    </button>
                </td>
            </tr>
        </div>

    </mat-card-content>
</mat-card>