<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Usuários cadastrados</mat-toolbar>

        <div class="column-flex mat-elevation-z8">
            <app-users-list *ngIf="user$ | async as user; else loading"
            [users]="user"
            (add)="onAdd()"
            (remove)="onRemove($event)"
            ></app-users-list>

            <ng-template #loading>
                <div class="loading-spinner">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>