<div class="container">
    <div>
        <div>
            <div class="button-back">
                <button mat-fab (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            
            <mat-card style="background-color: #5BC168; color: #ffffff;" >
                <mat-card-title>Foto do Perfil</mat-card-title>
                <mat-card-content>
                    <input type="file" (change)="onFileChange($event)">
                    <img *ngIf="profileImage" [src]="imagePath" accept="image/*" alt="Foto de Perfil">

                    <div class="button">
                        <button mat-raised-button (click)="save()">Salvar</button>
                    </div>
                   
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>