<mat-card>
    <mat-card-content>
        <mat-toolbar class="primary">Cadastro de Quilometragem</mat-toolbar>

        <mat-card-content>
            <form [formGroup]="form">

                <mat-form-field class="full-width">
                    <mat-label>Quantidade de Km</mat-label>
                    <input type="number" matInput formControlName="quantKm" />
                    <mat-error *ngIf="quantKm.touched && quantKm.hasError('required')">Quantidade de Km é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Data</mat-label>
                    <input type="date" matInput formControlName="data" />
                    <mat-error *ngIf="data.touched && data.hasError('required')">Data é obrigatório</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Veiculo</mat-label>
                    <mat-select formControlName="veiculo">
                      <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo.id">
                        {{veiculo.placa}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
            <button mat-raised-button (click)="onCancel()">Cancelar</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>