<mat-table [dataSource]="veiculos">
    <!-- Placa Column -->
    <ng-container matColumnDef="placa">
    <mat-header-cell *matHeaderCellDef> Placa </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.placa}} </mat-cell>
    </ng-container>

    <!-- Ano Column -->
    <ng-container matColumnDef="ano">
    <mat-header-cell *matHeaderCellDef> Ano </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.ano}} </mat-cell>
    </ng-container>
    
    <!-- Marca Column -->
    <ng-container matColumnDef="marca">
    <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.marca}} </mat-cell>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
        <mat-cell *matCellDef="let veiculo"> {{veiculo.modelo}} </mat-cell>
        </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
            <button mat-mini-fab color="primary" aria-label="Adicionar veiculo" (click)="onAdd()">
                <mat-icon fontIcon="add">add</mat-icon>
            </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let veiculo" class="action-column">
            <button mat-icon-button style="color: #5BC168;" aria-label="Editar veiculo" (click)="onEdit(veiculo)">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>

            <button mat-icon-button style="color: #5BC168;" aria-label="Remover veiculo" (click)="onDelete(veiculo)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
            
            <button mat-icon-button style="color: #5BC168;" aria-label="Detalhar veiculo" (click)="onRedirect(veiculo)">
                <mat-icon fontIcon="person"></mat-icon>
            </button>
        </mat-cell>


    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>